button {
  &.btn {
    color: white;
    border-radius: $btn-radius;
    min-width: 200px;
    padding: 0.7rem 1rem;
    @include transition(cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s);

    &.btn-orange {
      color: white;
      background: linear-gradient(90deg, #ed632b 0%, #f3a953 100%);
      margin-right: $gutter-l;
    }
    &.btn-plain {
      color: white;
      border: 1px solid white;
    }
    &:hover {
      background: $orange-3;
      border: 1px solid white;
    }
  }
}

@media screen and (max-width: 768px) {
  button {
    &.btn {
      &.btn-orange {
        margin-right: 0;
        margin-bottom: $gutter-l;
      }
    }
  }
}
