.landing-page {
  padding-top: 107px;
  height: 100vh;

  &--body {
    padding: 0 5rem;

    .main-text {
      color: white;
      h1 {
        font-size: $font-xxxl;
        font-family: "Secular One", sans-serif;
        margin: 0;
      }

      p {
        font-size: ($font-xl - 6);
        margin-bottom: $gutter-xxl;
      }
    }
  }
}

.article-section {
  padding: 0 240px;

  article {
    background: white;
    box-shadow: 0px 0px 16px rgba(19, 65, 154, 0.1);
    border-radius: $card-radius;
    padding: 2rem;
    margin-bottom: $gutter-xxl;
    max-width: 1200px;

    p {
      text-align: justify;
    }
  }

  .article-btn {
    margin-top: $gutter-xxl;
  }
}

@media screen and (max-width: 768px) {
  .landing-page {
    padding-top: 72px;

    &--body {
      padding: 0;
      flex-direction: column-reverse;
      margin-bottom: 2rem;

      img {
        width: 300px;
        height: 200px;
        margin-bottom: $gutter-l;
      }

      .main-text {
        align-items: center !important;

        h1 {
          text-align: center;
          font-size: $font-xl;
        }

        p {
          text-align: center;
          font-size: $font-l;
        }

        .igem-btn-group {
          flex-direction: column;
        }
      }
    }
  }
}
