@charset "UTF-8";
/* Margin */
/* Font */
.bounce {
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.slide-in {
  -webkit-animation-name: slideIn;
  -moz-animation-name: slideIn;
  -o-animation-name: slideIn;
  animation-name: slideIn;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-moz-keyframes slideIn {
  0% {
    -moz-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -moz-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-o-keyframes slideIn {
  0% {
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -o-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -o-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
@media (min-width: 992px) {
  .animate {
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
.navbar-dark .navbar-nav .nav-item:not(:last-child) {
  margin-right: 8px;
}
.navbar-dark .navbar-nav .nav-item:hover > .dropdown-menu {
  display: block;
}
.navbar-dark .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: -moz-linear-gradient(#ffffff, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -moz-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -o-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  color: white;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  background-size: calc(100% - 16px) 2px;
}

.navbar {
  padding: 24px 72px;
  -webkit-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
  -moz-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
  -o-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
  transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
}
.navbar .navbar-brand img {
  -webkit-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
  -moz-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
  -o-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
  transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
}
.navbar.bg-blue {
  background: linear-gradient(90deg, #001062 7.56%, #2d73d2 100%);
  padding: 4px 72px;
}
.navbar.bg-blue .navbar-brand img {
  width: 120px;
  height: 40px;
}
.navbar .dropdown .dropdown-toggle::after {
  -webkit-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -moz-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -o-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  transform: rotate(0deg);
}
.navbar .dropdown.show .dropdown-toggle::after {
  transform: rotate(-180deg);
}
.navbar .dropdown .dropdown-menu {
  background-color: #001062;
  min-width: 100%;
}
.navbar .dropdown .dropdown-menu .dropdown-item {
  color: white;
  transition: 0.3s;
}
.navbar .dropdown .dropdown-menu .dropdown-item:hover {
  color: black;
}
.navbar .dropdown:hover .dropdown-toggle::after {
  transform: rotate(-180deg);
}

.header-progress {
  position: fixed;
  top: 0;
  z-index: 1040;
  width: 100%;
}
.header-progress .progress-container {
  width: 100%;
  height: 3px;
}
.header-progress .progress-container .progress-bar {
  height: 3px;
  background: #f3a953;
  width: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 8px 20px;
    background: linear-gradient(90deg, #001062 7.56%, #2d73d2 100%);
    width: 100vw;
  }
  .navbar.bg-blue {
    background: linear-gradient(90deg, #001062 7.56%, #2d73d2 100%);
    padding: 8px 20px;
  }
  .navbar .navbar-brand img {
    width: 120px;
    height: 40px;
  }
}
button.btn {
  color: white;
  border-radius: 6px;
  min-width: 200px;
  padding: 0.7rem 1rem;
  -webkit-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -moz-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -o-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
}
button.btn.btn-orange {
  color: white;
  background: linear-gradient(90deg, #ed632b 0%, #f3a953 100%);
  margin-right: 16px;
}
button.btn.btn-plain {
  color: white;
  border: 1px solid white;
}
button.btn:hover {
  background: #d34a12;
  border: 1px solid white;
}

@media screen and (max-width: 768px) {
  button.btn.btn-orange {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
body {
  background: url("../assets/blue-gradient-bg.png") no-repeat center;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  width: 100vw;
}
body#main-page {
  background: url("../assets/helix-blue-bg.png") no-repeat center;
  background-size: cover;
}

.article-section {
  padding: 0 240px;
}
.article-section article {
  background: white;
  box-shadow: 0px 0px 16px rgba(19, 65, 154, 0.1);
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 64px;
  max-width: 1200px;
}
.article-section article h5 {
  font-weight: 600;
}
.article-section article p {
  text-align: justify;
  margin-bottom: 32px;
}
.article-section .article-btn {
  margin-top: 64px;
}

.content-page {
  height: 100vh;
  padding-top: 107px;
}
.content-page .molecular-title {
  background: url("../assets/overview.png");
  background-size: cover;
  padding: 80px;
  margin-bottom: 5rem;
}
.content-page .molecular-title h1 {
  border: 6px solid white;
  color: white;
  font-size: 72px;
  font-family: "Secular One", sans-serif;
  margin: 0;
  padding: 32px 64px;
}

.full-content {
  padding: 8px 180px 8px 100px;
}
.full-content .side-nav {
  background: white;
  border-radius: 8px;
  padding: 16px;
  list-style: none;
  counter-reset: item;
  position: sticky;
  top: 72px;
}
.full-content .side-nav li {
  counter-increment: item;
}
.full-content .side-nav li:before {
  content: counter(item);
  margin-right: 8px;
  border: solid 1px black;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  line-height: 1.2rem;
  display: inline-block;
}
.full-content .side-nav li:not(:last-child) {
  margin-bottom: 8px;
}
.full-content .outline-card {
  padding-left: 32px;
}
.full-content .outline-card article {
  margin-bottom: 32px;
}
.full-content .outline-card article h5 {
  font-weight: 600;
}
.full-content .outline-card article p {
  text-align: justify;
}

.accordion h3 {
  font-weight: 600;
}
.accordion h3:after {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  float: right;
  -webkit-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -moz-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  -o-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s;
  transform: rotate(0deg);
}
.accordion .ui-state-default {
  background: #ffffff;
  background-image: none;
  border-radius: 6px;
}
.accordion .ui-accordion-header.ui-state-active {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: black;
}
.accordion .ui-accordion-header.ui-state-active:after {
  transform: rotate(-180deg);
}
.accordion .ui-widget-content {
  border: none;
  background: transparent;
  text-align: justify;
  padding: 0.7rem 0.2rem;
}
.accordion .ui-icon {
  display: none;
}

.arrow-up {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding: 15px;
}
.arrow-up i {
  color: #13419A;
  -webkit-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
  -moz-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
  -o-transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
  transition: cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s;
}
.arrow-up i:hover {
  color: #001062;
  text-decoration: none;
  transform: translateY(-4px);
}

@media screen and (max-width: 768px) {
  .article-section {
    padding: 0 1.5rem;
  }
  .article-section article {
    padding: 2rem;
    margin-bottom: 64px;
  }

  .content-page {
    height: auto;
  }
  .content-page .molecular-title {
    padding: 48px;
    margin-bottom: 2rem;
  }
  .content-page .molecular-title h1 {
    margin: 0;
    padding: 32px 64px;
    font-size: 32px;
  }
  .content-page img {
    margin-bottom: 2rem;
  }
}
.landing-page {
  padding-top: 107px;
  height: 100vh;
}
.landing-page--body {
  padding: 0 5rem;
}
.landing-page--body .main-text {
  color: white;
}
.landing-page--body .main-text h1 {
  font-size: 72px;
  font-family: "Secular One", sans-serif;
  margin: 0;
}
.landing-page--body .main-text p {
  font-size: 26px;
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .landing-page {
    padding-top: 72px;
  }
  .landing-page--body {
    padding: 0;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
  }
  .landing-page--body img {
    width: 300px;
    height: 200px;
    margin-bottom: 16px;
  }
  .landing-page--body .main-text {
    align-items: center !important;
  }
  .landing-page--body .main-text h1 {
    text-align: center;
    font-size: 32px;
  }
  .landing-page--body .main-text p {
    text-align: center;
    font-size: 16px;
  }
  .landing-page--body .main-text .igem-btn-group {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
