html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url("../assets/blue-gradient-bg.png") no-repeat center;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  width: 100vw;

  &#main-page {
    background: url("../assets/helix-blue-bg.png") no-repeat center;
    background-size: cover;
  }
}

.article-section {
  padding: 0 240px;

  article {
    background: white;
    box-shadow: 0px 0px 16px rgba(19, 65, 154, 0.1);
    border-radius: $card-radius;
    padding: 2rem;
    margin-bottom: $gutter-xxl;
    max-width: 1200px;

    h5 {
      font-weight: 600;
    }

    p {
      text-align: justify;
      margin-bottom: $gutter-xl;
    }
  }

  .article-btn {
    margin-top: $gutter-xxl;
  }
}

.content-page {
  height: 100vh;
  padding-top: 107px;

  .molecular-title {
    background: url("../assets/overview.png");
    background-size: cover;
    padding: ($gutter-xxl + $gutter-l);
    margin-bottom: 5rem;

    h1 {
      border: 6px solid white;
      color: white;
      font-size: $font-xxxl;
      font-family: "Secular One", sans-serif;
      margin: 0;
      padding: $gutter-xl $gutter-xxl;
    }
  }
}

.full-content {
  padding: $gutter-m 180px $gutter-m 100px;

  .side-nav {
    background: white;
    border-radius: $card-radius;
    padding: $gutter-l;
    list-style: none;
    counter-reset: item;
    position: sticky;
    top: 72px;

    li {
      counter-increment: item;

      a {
        text-decoration: none;
        color: black;
        transition: 0.3s;
        font-weight: 800;

        &.active {
          color: lighten($medium-blue, 25%);
        }

        &:hover {
          color: $medium-blue;
        }
      }

      &:before {
        content: counter(item);
        margin-right: $gutter-m;
        border: solid 1px black;
        border-radius: 50%;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        line-height: 1.2rem;
        display: inline-block;
      }

      &:not(:last-child) {
        margin-bottom: $gutter-m;
      }
    }
  }

  .outline-card {
    padding-left: $gutter-xl;

    article {
      margin-bottom: $gutter-xl;
      h5 {
        font-weight: 600;
      }

      p {
        text-align: justify;
      }
    }
  }
}

.accordion {
  h3 {
    font-weight: 600;

    &:after {
      content: "\f0d7";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      float: right;
      @include transition(cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.2s);
      transform: rotate(0deg);
    }
  }

  .ui-state-default {
    background: #ffffff;
    background-image: none;
    border-radius: $btn-radius;
  }

  .ui-accordion-header {
    &.ui-state-active {
      background: #ffffff;
      border: 1px solid #ffffff;
      color: black;

      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  .ui-widget-content {
    border: none;
    background: transparent;
    text-align: justify;
    padding: 0.7rem 0.2rem;
  }

  .ui-icon {
    display: none;
  }
}

.arrow-up {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding: 15px;

  i {
    color: $medium-blue;
    @include transition(cubic-bezier(0.11, 0.65, 0.73, 0.66), 0.3s);

    &:hover {
      color: $primary-blue;
      text-decoration: none;
      transform: translateY(-4px);
    }
  }
}

@media screen and (max-width: 768px) {
  .article-section {
    padding: 0 1.5rem;

    article {
      padding: 2rem;
      margin-bottom: $gutter-xxl;
    }
  }

  .full-content {
    padding: 0 1.5rem;
  }

  .content-page {
    height: auto;

    .molecular-title {
      padding: ($gutter-xl + $gutter-l);
      margin-bottom: 2rem;

      h1 {
        margin: 0;
        padding: $gutter-xl $gutter-xxl;
        font-size: $font-xl;
      }
    }

    img {
      margin-bottom: 2rem;
    }
  }
}
